body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4a90e2;
    text-align: center;
    margin-bottom: 40px;
}

.summary {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary label {
    font-weight: bold;
    margin-right: 5px;
}

.summary span {
    margin-right: 20px;
    font-style: italic;
}

.summary button {
    margin: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.summary button:hover {
    background-color: #357abd;
}

.weightHistoryContainer {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 850px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weightHistoryContainer input[type="date"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.weightHistoryContainer .chart-container {
    margin-top: 20px;
    max-width: 100%;
}

.weightHistoryContainer button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.weightHistoryContainer button:hover {
    background-color: #357abd;
}

@media (max-width: 768px) {
    .summary, .weightHistoryContainer {
        padding: 10px;
        width: 100%;
    }

    .weightHistoryContainer .chart-container {
        width: 100%;
    }
}
