<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/weight.css}">
</head>
<body>
<div>
    <form action="/body/weight/save" method="post">
        <label for="weight" >Weight</label><input id ="weight" name="weightInKg" type="number">
        <label for="date">Date</label><input id="date" name="date" type="date">
        <button type="submit">Add</button>
    </form>
    <script type="text/javascript" th:src="@{/js/addweight.js}" defer></script>
</div>
</body>
</html>