<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Circumference</title>
</head>
<body>
<div>
    <form action="/bodyMonitoring/addNewCircumference" method="post">
        <label for="abdominal">Abdominal</label><input id="abdominal" name="basicCircumference.abdominal" type="number">
        <label for="chest">Chest</label><input id="chest" name="basicCircumference.chest" type="number">
        <label for="waist">Waist</label><input id="waist" name="basicCircumference.waist" type="number">
        <label for="hip">Hip</label><input id="hip" name="basicCircumference.hip" type="number">
        <label for="neck">Neck</label><input id="neck" name="additionalCircumference.neck" type="number">
        <label for="thighL">Left thigh</label><input id="thighL" name="additionalCircumference.thighL" type="number">
        <label for="thighR">Right thigh</label><input id="thighR" name="additionalCircumference.thighR" type="number">
        <label for="armL">Right arm</label><input id="armL" name="additionalCircumference.armL" type="number">
        <label for="armR">Left arm</label><input id="armR" name="additionalCircumference.armR" type="number">
        <label for="forarmL">Left forarm</label><input id="forarmL" name="additionalCircumference.forarmL" type="number">
        <label for="forarmR">Right forarm</label><input id="forarmR" name="additionalCircumference.forarmR" type="number">
        <label for="calfL">Left calf</label><input id="calfL" name="additionalCircumference.calfL" type="number">
        <label for="calfR">Right calf</label><input id="calfR" name="additionalCircumference.calfR" type="number">
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>