<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style-details.css}">
</head>
<body>
<div>
    <form action="/body/basic/save" method="post">
        <label for="heightInCm" >Height</label><input id ="heightInCm" name="heightInCm" type="number">
        <label for="age">Age</label><input id="age" name="age" type="number" step="1">
        <fieldset>
            <legend>Gender</legend>
            <label class="custom-radio">
                <input type="radio" id="female" name="gender" value="f">
                <span>Female</span>
            </label>

            <label class="custom-radio">
                <input type="radio" id="male" name="gender" value="m">
                <span>Male</span>
            </label>

            <label class="custom-radio">
                <input type="radio" id="other" name="gender" value="o">
                <span>Other</span>
            </label>
        </fieldset>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>