<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/body/basic/save" method="post">
        <label for="heightInCm" >Height</label><input id ="heightInCm" name="heightInCm" type="number">
        <label for="age">Age</label><input id="age" name="age" type="number" step="1">
        <input type="radio" id="female" name="gender" value="F">
        <label for="female">Female</label>
        <input type="radio" id="male" name="gender" value="M">
        <label for="male">Male</label>
        <input type="radio" id="other" name="gender" value="O">
        <label for="other">Other</label>
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>