<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>
<body>
<h1>Hello again</h1>
<div class="summary">
    <label for="age">Age: </label><span id="age"></span>
    <label for="gender">Gender: </label><span id="gender"></span>
    <label for="height">Height: </label><span id="height"></span>
    <label for="currentWeight">Current Weight</label><span id="currentWeight"></span>
    <button th:onclick="|window.location.href='/addBodyDetails'|">Update</button>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</div>

<div class="weightHistoryContainer">
    <input type="date" id="startDate" onchange="createChart()">
    <input type="date" id="endDate" onchange="createChart()">
    <div  style="width: 800px;" class="chart-container">
        <canvas id="weightChart"></canvas>
    </div>
    <script type="text/javascript" th:src="@{/js/chartscript.js}" defer></script>
    <button th:onclick="|window.location.href='/addWeight'|">Add</button>
</div>
</body>
</html>